
<ion-header>

</ion-header>
<ion-content>
 
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>
    Change Password!
          </ion-card-title>
          <ion-card-subtitle>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input placeholder="Old password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="New password"></ion-input>
          </ion-item>
  
          <div class="bottom-section">
            <ion-button (click)="signUPUser()">Submit</ion-button>
            
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  </ion-content>
  